<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #log_header a:link {
      color: #262626;
    }
  </style>
</head>
<body onload="tableOnload()" class="bg-secondary">
  <div class="container" style="margin-bottom: 20px">
    <div style="width: 20%; float:left">
      <div style="margin-bottom: 10px">
        <h3>Select player</h3>
        <select class="form-control" id="player_selection">
          {% for name in names %}
            <option>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div style="text-align: center" style="padding-top: 10px">
        <a href="javascript:updatePlayers($('#player_selection').val())" class="btn btn-info" role="button" style="width: 50%">Refresh</a>
      </div>
    </div>
  </div>
  <div class="container">
    <table class="table">
      <tr style="background-color: #464646; color: white">
        <th colspan="2">PROFILE</th>
      </tr>
      <tr>
        <th class="col-sm-3" style="background-color: #999999; color: white">Name</th>
        <td class="col-sm-7 active"><span id="name"></span></td>
      </tr>
      <tr>
        <th style="background-color: #999999; color: white">Player ID</th>
        <td><span id="id"></span></td>
      </tr>
      <tr>
        <th style="background-color: #999999; color: white">Date of Birth</th>
        <td class="active"><span id="date_of_birth"></span></td>
      </tr>
      <tr>
        <th style="background-color: #999999; color: white">Drafted</th>
        <td><span id="draft"></span></td>
      </tr>
    </table>
  </div>
  <div class="container">
    <table class="table table-striped table-condensed">
      <thead>
        <tr style="background-color: #464646; color: white">
          <th colspan="7">STATS</th>
        </tr>
        <tr id="stats_header" style="background-color: #cccccc; color: #262626">
          <th class="col-sm-1"></th>
          <th class="col-sm-1">Attempts</a></th>
          <th class="col-sm-1">Completions</a></th>
          <th class="col-sm-1">Completion%</th>
          <th class="col-sm-1">Yards</th>
          <th class="col-sm-1">TouchDowns</th>
          <th class="col-sm-1">Interceptions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Season</th>
          <td id="attempts_all"></td>
          <td id="completions_all"></td>
          <td id="completion_rate_all"></td>
          <td id="yards_all"></td>
          <td id="touchdowns_all"></td>
          <td id="interceptions_all"></td>
        </tr>
        <tr>
          <th>Match Average</th>
          <td id="attempts_match"></td>
          <td id="completions_match"></td>
          <td id="completion_rate_match"></td>
          <td id="yards_match"></td>
          <td id="touchdowns_match"></td>
          <td id="interceptions_match"></td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr style="background-color: #464646; color: white">
          <th colspan="9">GAME LOGS</th>
        </tr>
        <tr style="background-color: #cccccc" id="log_header">
          <th class="col-sm-1"><a href="javascript:sortColumn('week')">Week<span class="caret" id="caret_week" style="display:none"></span></a></th>
          <th class="col-sm-2"><a href="javascript:sortColumn('opponent')">Opponent<span class="caret" id="caret_opponent" style="display:none"></span></a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('home')">Home<span class="caret" id="caret_home" style="display:none"></span></a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('attempts')">Attempts<span class="caret" id="caret_attempts" style="display:none"></span></a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('completions')">Completions<span class="caret" id="caret_completions" style="display:none"></span></a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('completion_rate')">Completion%<span class="caret" id="caret_completion_rate" style="display:none"></span></a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('yards')">Yards<span class="caret" id="caret_yards" style="display:none"></span></a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('touchdowns')">TouchDowns<span class="caret" id="caret_touchdowns" style="display:none"></span></a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('interceptions')">Interceptions<span class="caret" id="caret_interceptions" style="display:none"></span></a></th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(100)%}
          <tr id="log{{ i }}">
            <td><span id="week_{{ i }}"></span></td>
            <td><span id="opponent_{{ i }}"></span></td>
            <td><span id="home_{{ i }}"></span></td>
            <td><span id="attempts_{{ i }}"></span></td>
            <td><span id="completions_{{ i }}"></span></td>
            <td><span id="completion_rate_{{ i }}"></span></td>
            <td><span id="yards_{{ i }}"></span></td>
            <td><span id="touchdowns_{{ i }}"></span></td>
            <td><span id="interceptions_{{ i }}"></span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
<script>
    var profile;
    var stats;
    var gameLogs;
    var numLogs;
    var sorting = {
        column:'week',
        ascending:true
    };
    function updateProfile () {
        for (var x in profile) {
                $('#'+x).text(profile[x]);
        }
    }
    function updateStats () {
        for (var x in stats['all']) {
            $('#' + x + '_all').text(stats['all'][x]);
        }
        for (var x in stats['match']) {
            $('#' + x + '_match').text(stats['match'][x]);
        }
    }
    function updateGameLogs () {
        for (var i=0; i < 100; i++) {
            if (i < numLogs) {
                $('#log' + i).show();
                for (var x in gameLogs[i]) {
                    $('#'+x+'_'+i).text(gameLogs[i][x]);
                }
            } else {
                $('#log' + i).hide();
            }
        }
    }
    function updatePlayers (name) {
        $.post('/update_player', {
            name: name
        }).done(function (info) {
            profile = info['profile'];
            stats = info['stats'];
            gameLogs = info['gameLogs'];
            numLogs = info['numLogs'];
            updateProfile();
            updateStats();
            updateGameLogs();
        })
    }

    function tableOnload ( ) {
        var infoDict = JSON.parse('{{ info | tojson | safe}}');
        profile = infoDict.profile;
        stats = infoDict.stats;
        gameLogs = infoDict.gameLogs;
        numLogs = infoDict.numLogs;
        updateProfile();
        updateStats();
        updateGameLogs();
        $('#caret_week').show();
        $('#log_header').addClass('dropup');
    }

    var byProperty = function (prop, reverse) {
        return function(a, b) {
          if (typeof a[prop] === 'number') {
            return reverse ? (a[prop] - b[prop]) : (b[prop] - a[prop]);
          }

          if (a[prop] < b[prop]) {
            return reverse ? 1 : -1;
          }

          if (a[prop] > b[prop]) {
            return reverse ? -1 : 1;
          }

        return 0;
        };
    };
    function sortColumn (column) {
        var ascending = true;
        if (sorting.column == column && sorting.ascending) {
            ascending = false;
        }
        gameLogs.sort(byProperty(column, ascending));
        updateGameLogs();
        $('#caret_' + sorting.column).hide();
        $('#caret_' + column).show();
        $('#log_header').removeClass('dropup');
        if (ascending) {
            $('#log_header').addClass('dropup');
        }
        sorting = {
            column:column,
            ascending:ascending
        };

    }
</script>
