<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body onload="tableOnload()">
  <div class="container">
    <div style="width: 50%; float:left">
      <h2>Select player</h2>
      <select class="form-control" id="player_selection">
        {% for name in names %}
          <option>{{ name }}</option>
        {% endfor %}
      </select>
      <a href="javascript:updatePlayers($('#player_selection').val())" class="btn btn-success" role="button">Submit</a>
    </div>
  </div>
  <div class="container">
    <h2>Profile</h2>
    <table class="table">
      <tr>
        <th class="col-sm-3 info">Name</th>
        <td class="col-sm-7 active"><span id="name"></span></td>
      </tr>
      <tr>
        <th class="info">Player ID</th>
        <td><span id="id"></span></td>
      </tr>
      <tr>
        <th class="info">Date of Birth</th>
        <td class="active"><span id="date_of_birth"></span></td>
      </tr>
      <tr>
        <th class="info">Drafted</th>
        <td><span id="draft"></span></td>
      </tr>
    </table>
  </div>
  <div class="container">
    <h2>Stats</h2>
    <table class="table table-striped table-condensed">
      <thead>
        <tr class="info">
          <th class="col-sm-1"></th>
          <th class="col-sm-1">Attempts</a></th>
          <th class="col-sm-1">Completions</a></th>
          <th class="col-sm-1">Completion%</th>
          <th class="col-sm-1">Yards</th>
          <th class="col-sm-1">TouchDowns</th>
          <th class="col-sm-1">Interceptions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Season</th>
          <td id="attempts_all"></td>
          <td id="completions_all"></td>
          <td id="completion_rate_all"></td>
          <td id="yards_all"></td>
          <td id="touchdowns_all"></td>
          <td id="interceptions_all"></td>
        </tr>
        <tr>
          <th>Match Average</th>
          <td id="attempts_match"></td>
          <td id="completions_match"></td>
          <td id="completion_rate_match"></td>
          <td id="yards_match"></td>
          <td id="touchdowns_match"></td>
          <td id="interceptions_match"></td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="container">
    <h2>Game Log</h2>
    <table class="table table-striped">
      <thead>
        <tr class="table-info">
          <th class="col-sm-1"><a href="javascript:sortColumn('week')" style="color:black">Week</a></th>
          <th class="col-sm-2"><a href="javascript:sortColumn('opponent')" style="color:black">Opponent</a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('home')" style="color:black">Home</a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('attempts')" style="color:black">Attempts</a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('completions')" style="color:black">Completions</a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('completion_rate')" style="color:black">Completion%</a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('yards')" style="color:black">Yards</a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('touchdowns')" style="color:black">TouchDowns</a></th>
          <th class="col-sm-1"><a href="javascript:sortColumn('interceptions')" style="color:black">Interceptions</a></th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(100)%}
          <tr id="log{{ i }}">
            <td><span id="week_{{ i }}"></span></td>
            <td><span id="opponent_{{ i }}"></span></td>
            <td><span id="home_{{ i }}"></span></td>
            <td><span id="attempts_{{ i }}"></span></td>
            <td><span id="completions_{{ i }}"></span></td>
            <td><span id="completion_rate_{{ i }}"></span></td>
            <td><span id="yards_{{ i }}"></span></td>
            <td><span id="touchdowns_{{ i }}"></span></td>
            <td><span id="interceptions_{{ i }}"></span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
<script>
    var profile;
    var stats;
    var gameLogs;
    var numLogs;
    var sorting = {
        column:'week',
        ascending:true
    };
    function updateProfile () {
        for (var x in profile) {
                $('#'+x).text(profile[x]);
        }
    }
    function updateStats () {
        for (var x in stats['all']) {
            $('#' + x + '_all').text(stats['all'][x]);
        }
        for (var x in stats['match']) {
            $('#' + x + '_match').text(stats['match'][x]);
        }
    }
    function updateGameLogs () {
        for (var i=0; i < 100; i++) {
            if (i < numLogs) {
                $('#log' + i).show();
                for (var x in gameLogs[i]) {
                    $('#'+x+'_'+i).text(gameLogs[i][x]);
                }
            } else {
                $('#log' + i).hide();
            }
        }
    }
    function updatePlayers (name) {
        $.post('/update_player', {
            name: name
        }).done(function (info) {
            profile = info['profile'];
            stats = info['stats'];
            gameLogs = info['gameLogs'];
            numLogs = info['numLogs'];
            updateProfile();
            updateStats();
            updateGameLogs();
        })
    }

    function tableOnload ( ) {
        var infoDict = JSON.parse('{{ info | tojson | safe}}');
        profile = infoDict.profile;
        stats = infoDict.stats;
        gameLogs = infoDict.gameLogs;
        numLogs = infoDict.numLogs;
        updateProfile();
        updateStats();
        updateGameLogs();
    }

    var byProperty = function (prop, reverse) {
        return function(a, b) {
          if (typeof a[prop] === 'number') {
            return reverse ? (a[prop] - b[prop]) : (b[prop] - a[prop]);
          }

          if (a[prop] < b[prop]) {
            return reverse ? 1 : -1;
          }

          if (a[prop] > b[prop]) {
            return reverse ? -1 : 1;
          }

        return 0;
        };
    };
    function sortColumn (column) {
        var ascending = true;
        if (sorting.column == column && sorting.ascending) {
            ascending = false;
        }
        gameLogs.sort(byProperty(column, ascending));
        updateGameLogs();
        sorting = {
            column:column,
            ascending:ascending
        };
    }
</script>
